body{
    background-image: url("../../media/heroBG.svg"); 
       background-attachment: fixed;
    background-size: cover;
}

.scroll{
    overflow-y: clip;
}

.no-scroll{
    height: 100vh;
    overflow-y: hidden;
}


