.heroContactForm{
    background-color: rgba(43, 26, 26, 0.867);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.396);
    position: absolute;
    bottom: 2%;
    right: 1%;  
    border-radius: 15px;

    .contactFormHeader{
        display: flex;
        flex-direction: row;
        vertical-align: middle;
        border: 1px solid #f75e4f;
        border-radius: 10px 10px 0px 0px;
        background-color: #f75e4f;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
        .mui{
            margin-top: 2px;
            padding-top: 10px;
            width: 50px;
        }
    }
    
    form{  
       
        .formRow{
            display: flex;
            flex-direction: row;
        }
        textarea, input { 
            font-size: 14px; font-family: Arial, Helvetica, sans-serif;
        };
        .heroFormSubmitBtn{
            font-size: 16px; 
            font-weight: 600;
            display: flex;
            flex-direction: row;
            float: right;
            background-color: #2879fe;
            color: white;
            &:hover{
                cursor: pointer;
                background-color: #438bff;;
            }
            .submitBtnText{
                text-transform: uppercase;
                font-size: 16px;
            }
        }
    }     
}

//1600x900 LAPTOP
@media screen and (min-width: 1600px) {
    .heroContactForm{
        width:300px;
        padding: 10px 20px;
        height: 235px;    
        .contactFormHeader{
            width: 340px;
            height:40px;
            font-size: 16px;
            line-height: 40px;        
            margin-left: -21px;
            margin-top: -20px;
            padding-top: 4.5px;  
            .mui{
                margin-top: -4px;
                padding-top: 10px;
                width: 50px;
            }                
        }    
        form{
            margin-left: -7.5px;            
            .formRow{
                margin-top: 15px;
            } 
            .heroFormSubmitBtn{
                width: 120px;
                height: 32.5px;
                padding: 1.75px 7.5px;                
                margin-right: 1px;
                margin-top: 8px;    
                .submitBtnText{
                    margin-top: 4.5px;
                    margin-left: 5px;
                    font-size: 13px;
                }
            }
            input{
                width: 145px;
                font-size: 13px;
            }
            textarea{
                height: 6em;
                font-size: 12px;
                width: 21.5em;
                font-size: 14px; font-family: Arial, Helvetica, sans-serif;
                
            }
        }
    }
}


//1920x1080 FULL HD
@media screen and (min-width: 1920px) {
    .heroContactForm{
        width: 400px;
        padding: 20px 40px;
        height: 300px;    
        .contactFormHeader{
            width: 481px;
            height:55px;
            line-height: 50px;        
            margin-left: -42px;
            margin-top: -30px;
            padding-top: 4.5px;     

            .mui{
                margin-top: 3px;
            }

            
            .contactUs{
                span{
                    font-size: 20px;
                }
            }       
        }    
        form{
            margin-left: 7.5px;            
            .formRow{
                margin-top: 15px;
            } 
            .heroFormSubmitBtn{
                width: 150px;
                height: 42.5px;
                padding: 7.5px 15px;                
                margin-right: 11px;
                margin-top: 12px;    
                .submitBtnText{
                    margin-top: 2px;
                    margin-left: 5px;
                    font-size: 17px;
                }
            }

            input,textarea{
                font-size: 14px;
            }

            input{
                width: 170px;
            }
            textarea{
                width: 26.5em;
                height: inherit;
                padding: 0.25em;
                
            }
        }
    }
}



