.product-list-container {
    display: flex;
    flex-direction: column;
    max-width: 1875px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 15px;
  
    .filter-section {
      display: flex;
      // justify-content: space-between;
      justify-content: left;
      align-items: center;
      margin-bottom: 20px;
      gap: 10px;
  
      select {
        padding: 8px;
        font-size: 14px;
        
      }
  
    }

    .categoryFilterTitle{
    
      text-align: center;
      font-weight: 500;
      font-size: 30px;
   
    }
  
    .product-list {
      list-style: none;
      padding: 0;
  
      li {
        margin-bottom: 10px;
      }
    }
  }

  .product-grid {
    display: grid;
    margin-top: 25px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 8px;
  }
  
.input-textsearch {
  display: block;
  width: 300px;
  font-size: 15px;
  height: 35px;
  padding: 0 8px;
  border-radius: 10px;
  animation: all 5s linear infinite;
}

.linear-background-text{
  border: 3px solid black;
  border: 3px solid transparent;
  background-image: linear-gradient(white, rgb(255, 255, 255)), linear-gradient(315deg, rgb(255, 222, 160), rgb(236, 183, 37), rgb(250, 94, 94));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}



