.product-list-container {
    display: flex;
    flex-direction: column;
    max-width: 1875px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 5px;
  
    .filter-section {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
  
      select {
        padding: 8px;
        font-size: 14px;
      }
  
      input {
        padding: 8px;
        font-size: 14px;
        border: 2px solid #f75e4f;
        border: 3px solid rgba(247,94,79,255);

      }
    }

    .categoryFilterTitle{
      position: absolute;
      top:50px;
      width: 20%;
      right: 40%;
      left: 40%;
      text-align: center;
      font-weight: 500;
      font-size: 30px;
    }
  
    .product-list {
      list-style: none;
      padding: 0;
  
      li {
        margin-bottom: 10px;
      }
    }
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 8px;
  }
  



