.topbarWrap{
    background-color: #f0f0f0; /* Set your background color */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    height: 65px;
    width: 100%; 
    line-height: 65px;

    header{
        display: flex;
        float: right; 
        height: inherit;
        gap: 40px;
        .headerItem{
            height: inherit;
            
            span{
                margin-top: 15px;
                font-weight: 400;
                font-size: 22.5px;
                flex: auto;
                text-align: center;
                transition: all 60ms ease-in-out;
        
                &:hover{
                    color: #f75e4f;
                    cursor: pointer;
                }
            }
        }


}
}   

//1920x1080 FULL HD
@media screen and (min-width: 1920px) {
    .topbarWrap{   
        header{
            width: 45%;
            margin-right: 15px;        
        
        span{
            font-size: 20px;   
            color: black;
        }
    }
    }    
}

//2560x1440 2K
@media screen and (min-width: 2560px) {
    .topbarWrap{
        header{
            width: 35%;
        }
    }
}

