.termsAndConditionsWrapper{
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../../media/termsandconditionsBG-left.svg"); 
    height: max-content;
    margin-bottom: -20px;
}